html
   head
      title Admin Home
      link(rel="shortcut icon" href="/image/favicon.jpg")
   body
      link(href='/styles/styles.css', rel='stylesheet')
      p Hi, #{name}
      p Now you can add olympic data
      button(onclick="addData()") Update Olympic Data
   script(src="/scripts/addData.js")