<!DOCTYPE html>

<head>
    <title>comment box</title>
</head>

<body>
    <div style="padding: 2px; border: 1px solid #000;">
        <pre class="code_block" style="margin-bottom: 10px;">
<h3 style="color:darkslategray;font-family:georgia">Tell us what you think!</h3>
<form method='post'>

 <input type="text" id="name" value="Name" onfocus="myFocus(this)" onblur="myBlur(this)" style="color:gray"/> <br>
 <input type='text' id='email' value="Email address" onfocus="myFocus(this)" onblur="myBlur(this)" style="color:gray"/><br />
 <textarea rows="6" cols="60" name='comment' id='comment' placeholder="Comments" ></textarea><br />
 
 <script>
 function myFocus(x) {
    if (x.value = 'Name' || 'Email address')
    {
    x.style.color='#000';
    x.value = '';
 }
 }
 function myBlur(y) {
    if (y.value == '')
    {
    y.style.color='#BBB';
    document.getElementById('name').value = "Name";
    document.getElementById('email').value = "Email address";
 }
 }
 </script>

 <button type="button" onclick="myPost()">Post Comment</button>
 
 <style>
 .row {
  display: flex; /* equal height of the children */
}

 .col {
  flex: 1; /* additionally, equal width */
  
  padding: 1em;
  border: groove;
}
</style>

<div class="row">
<div class="col" id="commentPerson">
        Name
</div>

<div class="col" id="commentsHistory">
       Comments
    </div>
</div>
<script>
function myPost() {
   var para = document.createElement("p");
    var t = document.createTextNode(document.getElementById("name").value);
    para.appendChild(t);
    document.getElementById("commentPerson").appendChild(para);
    
    var para1 = document.createElement("p");
    var n = document.createTextNode(document.getElementById("comment").value);
    para1.appendChild(n);
    document.getElementById("commentsHistory").appendChild(para1);
    
   }
</script>
 </form>
</pre>
    </div>
</body>

</html>