extends layout
block commentbox
  title
      | Comments
  body
    link(href='/styles/styles.css', rel='stylesheet')
    div(class='main')
      h3 Tell us what you think!
      form(method='post')
        input#name(type='text', placeholder='Name', onfocus='myFocus(this)', onblur='myBlur(this)', style='color:gray')
        |  
        br
        |  
        br
        |  
        input#email(type='text', placeholder='Email address', onfocus='myFocus(this)', onblur='myBlur(this)', style='color:gray')
        br
        br
        |  
        textarea#comment(rows='6', cols='60', name='comment', placeholder='Comments')
        br
        |  
        br
        |  
        button(type='button' class='button', onclick='myPost()') Post Comment  
        br
        br
        | 
        .row
          .col1
            | Name
          |  
          .col1
            | Comments
        .row
          #commentPerson.col
            
          |  
          #commentsHistory.col
            
    script(src="/scripts/postComment.js")