extends layout
block commentbox
  body
    link(href='/styles/styles.css', rel='stylesheet')
    div(class='main')
      h3 Tell us what you think!
      form(method='post')
        input#name(type='text', value='Name', onfocus='myFocus(this)', onblur='myBlur(this)', style='color:gray')
        |  
        br
        |  
        br
        |  
        input#email(type='text', value='Email address', onfocus='myFocus(this)', onblur='myBlur(this)', style='color:gray')
        br
        br
        |  
        textarea#comment(rows='6', cols='60', name='comment', placeholder='Comments')
        br
        |  
        br
        |  
        button(type='button', onclick='myPost()') Post Comment
        |  
        .row
          #commentPerson.col
            | Name
          |  
          #commentsHistory.col
            | Comments
    script(src="/scripts/postComment.js")