extends layout
block graph
  script(src='/scripts/animation.js')
  title Graphs
  body(onload='loadrings()')
    canvas#ring-canvas(height='924', width='1662', style='border: solid white 1px;')
    script.
      window.requestAnimFrame = (function(callback) {
      return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame ||
      function(callback) {
      window.setTimeout(callback, 1000 / 60);
      };
      })();
