extends layout

block content
  title Home
  body
    link(href='/styles/styles.css', rel='stylesheet')
    .topright Welcome #{name}
    center
      img.className#IdName(src="/images/olympic.svg" alt="Image Title")