extends layout
block content
  head
    title Olympics - Home
  body
    img#imgid(src='/images/olymhigh.png' title='Resizeable Olympic rings represent the 5 continents of the world!')
    doctype html
    html.
      <!-- Accordion -->
      <h3>Amazing Olympic Facts</h3>
      <div id="accordion">
        <h3>When did first Olympic games take place?</h3>
        <div>The first Olympic Games took place in the 8th century B.C. in Olympia, Greece.</div>
        <h3>When were women first allowed to compete in Olympic games?</h3>
        <div>Women have been allowed to compete in the Olympics since 1900.</div>
        <h3>Were there restrictions for women to watch Ancient Olympics?</h3>
        <div>The Ancient Greek Olympics were male-only and only unmarried women were permitted to watch.</div>
        <h3>Who was the first woman to compete in the Olympics?</h3>
        <div>Hélène de Pourtalès became the first female Olympic champion as part of the winning team in the 1-2 ton sailing event. Charlotte Cooper was the first woman to win an individual Olympic event after winning the women's singles tennis competition.</div>
      </div>
    link(href='/styles/styles.css', rel='stylesheet')

    .topright Welcome #{name}
    
  script(src="/scripts/indexScript.js")