doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')

  body
    block navBar
    nav(class='navbar navbar-default', role='navigation')
        .container-fluid
            .navbar-header
                button(class='navbar-toggle', data-toggle='collapse', data-target='#navbar')
                    span.sronly
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(class='navbar-brand', href='/#') Home
            #navbar(class='collapse navbar-collapse')
                ul(class='nav navbar-nav')
                    li
                        a(href='/map') World Map
                    li
                        a(href='/graph') Graph
    block content
    block graph
    block postgraph
    