html
   head
      title Login - Women in Olympics
   body
      link(href='/styles/styles.css', rel='stylesheet')
      if(message)
         div(class="center")
            center 
                  h3 #{message}
                  form(action = "/login" method = "POST")
                        input(name = "email" type = "text" class="textbox" id="email" oninput="onEmailChange(this.value)" required 
                              placeholder = "email")
                        br
                        input(name = "password" type = "password" class="textbox" id="password" oninput="onPasswordChange(this.value)" required 
                              placeholder = "password")
                        br
                        br
                        button(type = "Submit" id="loginButton" disabled) Log in

                  p New User?  <a href="/register"> Register Here </a>

   script(src="/scripts/loginScript.js")
