html
   head
      title Login - Women in Olympics
   body
      link(href='/styles/styles.css', rel='stylesheet')
      if(message)
         div(class="center")
            center 
                  h3 #{message}
                  form(action = "/login" method = "POST")
                        input(name = "email" type = "text" id="email" oninput="onEmailChange(this.value)" required 
                              placeholder = "email")
                        input(name = "password" type = "password" id="password" oninput="onPasswordChange(this.value)" required 
                              placeholder = "password")
                        button(type = "Submit") Log in

   script(src="/scripts/loginScript.js")
