html
   head
      title Registration
   body
      link(href='/styles/styles.css', rel='stylesheet')
      div(class="center")
            center
                  h3 #{message}
                  form(action = "/register" method = "POST")
                        input(name = "emailreg" type = "text" class="textbox" id="emailreg" oninput="onEmailChange(this.value)" required 
                              placeholder = "email")
                        br
                        input(name = "passwordreg" type = "password" class="textbox" id="passwordreg" oninput="onPasswordChange(this.value)" required 
                              placeholder = "password")
                        span(id="strength")
                        br
                        br
                        button(type = "Submit" id="regMeButton" disabled) Register
                  p Already have an account?  <a href="/login"> Login Here </a>
   script(src="/scripts/registerScript.js")