extends layout
block tabpage
  head
    meta(charset='UTF-8')
    script(type='text/javascript', src='scripts/abouttabs.js')
    title AJAX Tabs
  body
    h1.ui-state-default Know about us!
    div(id="tabs")
      ul
        li
          a(href="templates/ourteam.html") Our Team
        li
          a(href="templates/ourgoal.html") Our Goal
        li
          a(href="templates/contact.html") Contact 