extends layout
block tabpage
  head
    meta(charset='UTF-8')
    script(type='text/javascript', src='scripts/tabsdemo.js')
    title AJAX Tabs
  body
    h1.ui-state-default AJAX Tabs Demo
    div(id="tabs")
      ul
        li
          a(href="#tabs-1") Preloaded
        li
          a(href="templates/CMPE180A.html") CMPE 180A
        li
          a(href="templates/CMPE226.jade") CMPE 226
      #tabs-1
        p
          | Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. 