extends adminlayout
block adminmovies
    
    div(class="row")
        div(class="column")#trafficShare
        div(class="column")#bounceRate

    div(class="row")
        div(class="column")#uniqueUsers
        div(class="column")#websiteChange
    
    script(src='/scripts/movies.js')

