extends layout
block allcategories
    head
        // Bootstrap core CSS
        link(href='/lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        link(href='/styles/content.css', rel='stylesheet')
        link(href='/styles/layout.css', rel='stylesheet')
        link(href='/styles/text.css', rel='stylesheet')
        title Statistics
        
        
    .content(style='padding-top:6%; width: 99%;')
        div(class="center")#loader
        div.margin-b.text-center
            h2.text-xlarge.text-strong.margin-b-half.margin-t Open new doors to your Business with Mobile traffic
            p.text-large The picture says it all! Now is the time to optimize your website for more engagement and sales from mobile visitors.
            p.text-large Get rewarded for page loading speed on mobile, and a responsive web design.
        div.section__content.wrap(style='width: 1365px;height:620px')
            div.col.col--full.text-center#stackedchart_mobdesk_all
        
        div.margin-b.text-center
            h2.text-xlarge.text-strong.margin-b-half.margin-t Why get your website to appear on Google?
            p.text-large Because the data says so!
            p.text-large Promote your website, get your content in top search results, and much more; all through Google SEO.
            p.text-large Know you Advertising Options from these top traffic makers.
            
         div.section__content.wrap(style='width: 1365px;height:620px')
            div.col.col--full.text-center#hightraffic
        div.margin-b.text-center
            h2.text-xlarge.text-strong.margin-b-half.margin-t What do these websites have special that Engage customers so long?
            p.text-large It's not enough if users found your website. You need to Engage them to stay longer!
            p.text-large Credibilty, Relevant Content, Personalization, Speed Optimization, Improved Readability and lot more to look into.
       div.section__content.wrap(style='width: 1365px;height:620px')
            div.col.col--full.text-center#timetraffic_all
        
        div.margin-b.text-center
            h2.text-xlarge.text-strong.margin-b-half.margin-t Unique Vistors - Your true Audience size!
            p.text-large Aim for these numbers for your website to be taken seriously by big ad agencies.
         div.section__content.wrap(style='width: 1365px;height:620px')
            div.col.col--full.text-center#stackedchart

        div.margin-b.text-center
            h2.text-xlarge.text-strong.margin-b-half.margin-t Bounce Rate - not always a worrying factor.
            p.text-large It can be a good sign, because people found what they were looking for in the first page. Example - Wikipedia and search engines!
         div.section__content.wrap(style='width: 1365px;height:620px')
            div.col.col--full.text-center#bouncestack

        div.margin-b.text-center    
            h2.text-xlarge.text-strong.margin-b-half.margin-t Choose the best Social Media Platform for promoting your Business.
            p.text-large Websites that have highest visitors overall Or the ones that have highest percentage of increase in Visitors. We have visualized it for your easy decision making.
         div.section__content.wrap(style='width: 1365px;height:620px')
            div(class="col-md-5")#socialmonthlyvisitors
            div(class="col-md-5")#stackedchart_change
        

        script(src='/lib/jquery/jquery.js')
        script(src='/lib/bootstrap/js/bootstrap.bundle.min.js')
        script(src='/scripts/allcateg.js')
