
extends layout
block allcategories
    
    div(class="row")
    h3 Open new doors to your Business with Mobile traffic
    p The picture says it all! Now is the time to optimize your website for more engagement and sales from mobile visitors.
    P Get rewarded for page loading speed on mobile, and a responsive web design.
        div(class="column")#stackedchart_mobdesk_all
             
    br
    h3 Why get your website to appear on Google?
    p Because the data says so!
    p Promote your website, get your content in top search results, and much more; all through Google SEO.
    h3 Know you Advertising Options from these top traffic makers.
    div(class="row")
        div(class="column")#hightraffic
        div(class="column")#differentStatus

    br
    h3 What do these websites have special that Engage customers so long?
    p It's not enough if users found your website. You need to Engage them to stay longer!
    p Credibilty, Relevant Content, Personalization, Speed Optimization, Improved Readability and lot more to look into.
    div(class="row")
        div(class="column")#timetraffic_all

    div(class="row")
        div(class="column")#stackedchart
    
    div(class="row")
        div(class="column")#bouncestack
    
    
        
            
            

    
    script(src='/scripts/allcateg.js')
