
extends layout
block allcategories
    
    div(class="row")
    h2 Open new doors to your Business with Mobile traffic
    p The picture says it all! Now is the time to optimize your website for more engagement and sales from mobile visitors.
    P Get rewarded for page loading speed on mobile, and a responsive web design.
        div(class="column")#stackedchart_mobdesk_all
             
        
    h2 Get your website on Google!
    p Promote your website, get your content in top search results, and much more; all through Google SEO.
    p Know you Advertising Options.
    div(class="row")
        div(class="column")#hightraffic
        div(class="column")#differentStatus
        div(class="column")#timetraffic_all
        div(class="column")#stackedchart
    
    
        
            
            

    
    script(src='/scripts/allcateg.js')
