//- extends layout
//- block allcategories
    
//-     div(class="row")
//-     h3 Open new doors to your Business with Mobile traffic
//-     p The picture says it all! Now is the time to optimize your website for more engagement and sales from mobile visitors.
//-     P Get rewarded for page loading speed on mobile, and a responsive web design.
//-         div(class="column")#stackedchart_mobdesk_all
             
//-     br
//-     h3 Why get your website to appear on Google?
//-     p Because the data says so!
//-     p Promote your website, get your content in top search results, and much more; all through Google SEO.
//-     h3 Know you Advertising Options from these top traffic makers.
//-     div(class="row")
//-         div(class="column")#hightraffic
//-         div(class="column")#differentStatus
//-     br
//-     h3 What do these websites have special that Engage customers so long?
//-     p It's not enough if users found your website. You need to Engage them to stay longer!
//-     p Credibilty, Relevant Content, Personalization, Speed Optimization, Improved Readability and lot more to look into.
//-     div(class="row")
//-         div(class="column")#timetraffic_all
//-     div(class="row")
//-         div(class="column")#stackedchart
    
//-     div(class="row")
//-         div(class="column")#bouncestack
//-     div(class="row")
//-         div(class="column")#socialmonthlyvisitors
//-         div(class="column")#stackedchart_change
        
    
    
        
            
    
extends layout
block allcategories
    head
        // Bootstrap core CSS
        link(href='/lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        link(href='/styles/content.css', rel='stylesheet')
        link(href='/styles/text.css', rel='stylesheet')
        title Statistics
        
        
    div(style='padding-top:6%; width: 99%;  max-width: 100%;')
        div(class="center")#loader
        div.margin-b.text-center
            h2.text-xlarge.text-strong.margin-b.margin-t Open new doors to your Business with Mobile traffic
            p.text-large The picture says it all! Now is the time to optimize your website for more engagement and sales from mobile visitors.
            p.text-large Get rewarded for page loading speed on mobile, and a responsive web design.
        
        div(class="row")
            div(class="col-md-8")#stackedchart_mobdesk_all
        div.margin-b.text-center
            h2.text-xlarge.text-strong.margin-b.margin-t Why get your website to appear on Google?
            p.text-large Because the data says so!
            p.text-large Promote your website, get your content in top search results, and much more; all through Google SEO.
            p.text-large Know you Advertising Options from these top traffic makers.
            
        div(class="row")
            div(class="col-md-8")#hightraffic
        div.margin-b.text-center
            h2.text-xlarge.text-strong.margin-b.margin-t What do these websites have special that Engage customers so long?
            p.text-large It's not enough if users found your website. You need to Engage them to stay longer!
            p.text-large Credibilty, Relevant Content, Personalization, Speed Optimization, Improved Readability and lot more to look into.
        div(class="row")
            div(class="col-md-8")#timetraffic_all
        
        div.margin-b.text-center
            h2.text-xlarge.text-strong.margin-b.margin-t Unique Vistors - Your true Audience size!
            p.text-large Aim for these numbers for your website to be taken seriously by big ad agencies.
        div(class="row")
            div(class="col-md-8")#stackedchart

        div.margin-b.text-center
            h2.text-xlarge.text-strong.margin-b.margin-t Bounce Rate
            p.text-large You can not impress a large audience with these websites.
        div(class="row justify-content-left")
            div(class="col-md-8")#bouncestack

        div.margin-b.text-center    
            h2.text-xlarge.text-strong.margin-b.margin-t Social Networking Site
            p.text-large Find the right place to network and spread you ideas.
        div(class="row")
            div(class="col-md-5")#socialmonthlyvisitors
            div(class="col-md-5")#stackedchart_change
        

        script(src='/lib/jquery/jquery.js')
        script(src='/lib/bootstrap/js/bootstrap.bundle.min.js')
        script(src='/scripts/allcateg.js')
