extends layout
block compare
    link(href='/styles/compare.css', rel='stylesheet')
    script(src="/scripts/compare.js")
    .maindiv    
        #div1
            div.website1
                h1.text-large.text-center Your Website
                div#searchDiv
                    button.search
                        i.fa.fa-search
                    input#websiteName(name='websiteName', type='text', placeholder='Start typing....')
                div#resultDiv
                    h4#infotip.text-center Choose a website to compare
                    table.table
                        tbody
                            each website,index in websites
                                tr.leftwebsites(id=website._id) 
                                    td.tableContent(id="Website"+website._id, name=website._id, contentEditable=false)=website.Domain

        #div2
            div.website2
                h1.text-large.text-center Your Competitor's Website
                div#searchDiv
                    button.search
                        i.fa.fa-search
                    input#websiteName(name='websiteName', type='text', placeholder='Search for a website')
                div#resultDiv
                    h4.text-center Choose a website to compare
