
extends layout
block dashboard
    head
        title Dashboard
    body
        div(class="center")#loader
        div(class="row")
            div(class="column",style="margin-top:100px; margin-left:1400px")
                .dropdown
                button#dropdownMenu.btn.btn-success(type='button', data-toggle='dropdown')
                    | Select Category
                .dropdown-menu(aria-labelledby='dropdownMenu')
                    a#moviesDD.dropdown-item(href='#') Movies
                    a#educationDD.dropdown-item(href='#') Educarion
                    a#carrentalsDD.dropdown-item(href='#') Car Rentals

                    

        div(class="row")
            div#topcountries
            div(class="column")#avg_monthly_visits
            div(class="column")#newuser
            

        div(class="row")
            div#topcountries
            div(class="column")#avgpageviews
            div(class="column")#avgvisitors
            div(class="column")#edu_mobdesk
            div(class="column")#timespent
        
    script(src='/scripts/dashboard.js')
