
extends layout
block dashboard
    head
        title Dashboard
    div(class="row")
        div#topcountries
        div(class="column")#avg_monthly_visits
        div(class="column")#newuser
        

    div(class="row")
        div#topcountries
        div(class="column")#avgpageviews
        div(class="column")#avgvisitors
        div(class="column")#edu_mobdesk
        div(class="column")#timespent

             
        

        
    
    
        
            
            

    
    script(src='/scripts/dashboard.js')
