
extends layout
block dashboard
    
    div(class="row")
    h2 Open new doors to your Business with Mobile traffic
    p The picture says it all! Now is the time to optimize your website for more engagement and sales from mobile visitors.
        div(class="column")#stackedchart_mobdesk_all
             
        
    div(class="row")
        div#topcountries
        div(class="column")#socialchart
        div(class="column")#newuser
        div(class="column")#differentStatus
        div(class="column")#timetraffic_all
        div(class="column")#stackedchart
    
    
        
            
            

    
    script(src='/scripts/dashboard.js')
