
extends layout
block dashboard
   
    div(class="row")
        div#topcountries
        div(class="column")#socialchart
        div(class="column")#newuser
    
    div(class="row")
        div(class="column")#stackedchart_mobdesk_all
        div(class="column")#differentStatus
        div(class="column")#timetraffic_all
        div(class="column")#stackedchart
        
            
            

    
    script(src='/scripts/dashboard.js')
