
extends layout
block dashboard
   
    div(class="row")
        div#topcountries
        div(class="column")#avgpageviews
        div(class="column")#avgvisitors
    
    div(class="row")
        div(class="column")#sociallyreferred
        div(class="column")#newuser
        div(class="column")#socialchart
        div(class="column")#differentStatus
            
            

    
    script(src='/scripts/dashboard.js')
