
extends layout
block dashboard

    div(class="row")
        div#topcountries
        div(class="column")#avg_monthly_visits
        div(class="column")#newuser
        div(class="column")#timespent

    div(class="row")
        div#topcountries
        div(class="column")#avgpageviews
        div(class="column")#avgvisitors
        div(class="column")#edu_mobdesk

             
        

        
    
    
        
            
            

    
    script(src='/scripts/dashboard.js')
