extends layout
block dashboard
    h3 Websites Traffic - Dashboard 

    div#piechart
    div#columnchart.chartdiv
    div#columnchart1.chartdiv1

    script(src='/scripts/dashboard.js')
    link(href='/styles/styles.css', rel='stylesheet')
