html
  head
    title Web Maze | Home
    // meta
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, viewport-fit=cover')
    meta(name='format-detection', content='telephone=no')
    //- base(href='//www.fitswap.com/')
    //- link(rel='apple-touch-icon', sizes='180x180', href='assets/favicons/apple-touch-icon.png')
    //- link(rel='icon', type='image/png', sizes='32x32', href='assets/favicons/favicon-32x32.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='assets/favicons/favicon-16x16.png')
    //- link(rel='manifest', href='assets/favicons/manifest.json')
    //- link(rel='mask-icon', href='assets/favicons/safari-pinned-tab.svg', color='#5bbad5')
    //- link(rel='shortcut icon', href='assets/favicons/favicon.ico')
    //- meta(name='msapplication-config', content='assets/favicons/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')
    // fonts
    link(type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    // layouts
    link(type='text/css', href='/styles/reset.css', rel='stylesheet', media='all')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(type='text/css', href='/styles/transitions.css', rel='stylesheet', media='all')
    link(type='text/css', href='/styles/layout.css', rel='stylesheet', media='all')
    link(type='text/css', href='/styles/text.css', rel='stylesheet', media='all')
    link(type='text/css', href='/styles/colors.css', rel='stylesheet', media='all')
    link(type='text/css', href='/styles/buttons.css', rel='stylesheet', media='all')
    link(type='text/css', href='/styles/menu.css', rel='stylesheet', media='all')
    link(type='text/css', href='/styles/menu-mobile.css', rel='stylesheet', media='all')
    link(type='text/css', href='/styles/content.css', rel='stylesheet', media='all')
    link(href='/styles/floating_icons.css', rel='stylesheet')
    
    //scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
    script(src='/scripts/scroll-to-position.js', type='text/javascript')
    script(src='/scripts/set-active-section.js', type='text/javascript')
    script(src='/scripts/navigation.js', type='text/javascript')
    script(src='https://www.googletagmanager.com/gtag/js?id=UA-122332536-1', async='')
    script.
      window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-122332536-1');
  body
    header.header.color-main-dark-bg
      .header__content.wrap
        a.header__logo(href='#home', onclick='nav(this); return false;')
          img(src='/images/logow.png')
          //- h1(class="text-xxlarge text-title color-light-text text-strong text-upper margin-b") Web Maze
        #mobile-menu.mobile-menu
          span.color-light-text.text-upper.text-xsmall Menu
          //
          .mobile-menu__icon.color-main-dark-bg
            .burger
              span.color-light-bg
              span.color-light-bg
              span.color-light-bg
              span.color-light-bg
          .mobile-menu__button(onclick='toggleMobileMenu(); return false;')
        nav
          ul.header__nav.text-upper.text-small
            li
              a.nav-js.nav-js--home.color-light-text.active(href='#home', onclick='nav(this); return false;') Home
            li
              a.nav-js.nav-js--about.color-light-text(href='#about', onclick='nav(this); return false;') About
            li
              a.nav-js.nav-js--vlog.color-light-text(href='#vlog', onclick='nav(this); return false;') Team
            li
              a.nav-js.nav-js--contacts.color-light-text(href='#contacts', onclick='nav(this); return false;') Contacts
            li
              a.nav-js.nav-js--contacts.color-light-text(href='/login') Login
            li
              a.color-light-text.header__social.tr.tr--opacity(href='#')
                svg.color-light-fill(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 612 612', xml:space='preserve')
                  g
                    g
                      path(d='M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411 c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513 c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101 c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104 c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194 c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485 c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z')
            li
              a.color-light-text.header__social.tr.tr--opacity(href='#')
                svg.color-light-fill(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 461.001 461.001', xml:space='preserve')
                  path(d='M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728 c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137 C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607 c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z')
    .content
      section#home.section.section--home.color-main-bg
        .section__content.wrap
          .cols
            .col.col--two.margin-r-large
              h1.text-xxlarge.text-title.color-light-text.text-strong.text-upper.margin-b
                | Welcome to
                br
                | WebMaze
              h2.text-large.color-light-text.margin-b All website-services in one place
              p.text-default.color-light-text.margin-b-large
              .text-upper
                a.call-to-action.call-to-action--main.color-light-text.color-dark-bg.text-center.text-medium.tr.tr--bgcolor(href='/signup') Signup Now
              .link-to-code.text-center.margin-t
                br
                svg.footer__next.color-light-fill.floating(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 21.825 21.825', style='enable-background:new 0 0 21.825 21.825;', xml:space='preserve')
                  path(d='M16.791,13.254c0.444-0.444,1.143-0.444,1.587,0c0.429,0.444,0.429,1.143,0,1.587l-6.65,6.651 c-0.206,0.206-0.492,0.333-0.809,0.333c-0.317,0-0.603-0.127-0.81-0.333l-6.65-6.651c-0.444-0.444-0.444-1.143,0-1.587 s1.143-0.444,1.587,0l4.746,4.762V1.111C9.791,0.492,10.299,0,10.918,0c0.619,0,1.111,0.492,1.111,1.111v16.904L16.791,13.254z')
            #fitswap-code.col.col--two.text-center
              img.fitswap-code.fitswap-code--default(src='/images/seo.png')
              img.fitswap-code.fitswap-code--default(src='/images/competitors.png')
        .footer.text-center
          a.color-light-text.text-small(href='#about', onclick="scrollToPosition('about', true); return false;") How we can help you
            br
            svg.footer__next.color-light-fill.floating(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 21.825 21.825', style='enable-background:new 0 0 21.825 21.825;', xml:space='preserve')
              path(d='M16.791,13.254c0.444-0.444,1.143-0.444,1.587,0c0.429,0.444,0.429,1.143,0,1.587l-6.65,6.651 c-0.206,0.206-0.492,0.333-0.809,0.333c-0.317,0-0.603-0.127-0.81-0.333l-6.65-6.651c-0.444-0.444-0.444-1.143,0-1.587 s1.143-0.444,1.587,0l4.746,4.762V1.111C9.791,0.492,10.299,0,10.918,0c0.619,0,1.111,0.492,1.111,1.111v16.904L16.791,13.254z')
        .dumbbells
          .shape-container.shape-container--1.dumbbell.dumbbell--1
          .shape-container.shape-container--2.dumbbell.dumbbell--2
          .shape-container.shape-container--3.dumbbell.dumbbell--3
          .shape-container.shape-container--4.dumbbell.dumbbell--4
          .shape-container.shape-container--5.dumbbell.dumbbell--5
          .shape-container.shape-container--6.dumbbell.dumbbell--6
          .shape-container.shape-container--7.dumbbell.dumbbell--7
          .shape-container.shape-container--8.dumbbell.dumbbell--8
          .shape-container.shape-container--9.dumbbell.dumbbell--9
          .shape-container.shape-container--10.dumbbell.dumbbell--10
      section#about.section.section--about
        .section__content.wrap
          .cols
            .col.col--full
              .margin-b.text-center
                h2.text-xlarge.text-strong.margin-b How we can help you
            .col.col--full
              .margin-b
                #about-ninja.col.col--about.text-right.margin-r-large
                  .about-title.about-title--ninja.margin-b
                    p.text-large
                      strong Discover the Trends
                      br.text-default
                      | Helps you understand the trend in different domains
                    .about-icon.margin-l
                      img(src='/images/trends.png')
                  #about-ninja.col.col--about.text-right.margin-r-large
                    .about-title.about-title--ninja.margin-b
                      p.text-large
                        strong Monitor Traffic
                        br
                        | Know how many people visit your 
                        br
                        | website and how much time they spend
                      .about-icon.margin-l
                        img(src='/images/traffic.png')
              .margin-b
                #about-novice.col.col--about
                .about-title.margin-b
                  .about-icon.margin-r
                    img(src='/images/decisions.jpg')
                  p.text-large
                    strong Make Business Decisions
                    br
                    | Decide on where to invest for your 
                    br 
                    | advertisements based on our data
                #about-novice.col.col--about
                .about-title.margin-b
                  .about-icon.margin-r
                    img(src='/images/conquer.jpg')
                  p.text-large
                    strong Expand Your Customer Base
                    br
                    | Use our platform to target right people 
                    br
                    | at right time with the right strategy
        .footer.text-center
          a.text-small.color-main-text(href='#how-it-works', onclick="scrollToPosition('how-it-works', true); return false;") What we do
            br
            svg.footer__next.color-main-fill.floating(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 21.825 21.825', style='enable-background:new 0 0 21.825 21.825;', xml:space='preserve')
              path(d='M16.791,13.254c0.444-0.444,1.143-0.444,1.587,0c0.429,0.444,0.429,1.143,0,1.587l-6.65,6.651 c-0.206,0.206-0.492,0.333-0.809,0.333c-0.317,0-0.603-0.127-0.81-0.333l-6.65-6.651c-0.444-0.444-0.444-1.143,0-1.587 s1.143-0.444,1.587,0l4.746,4.762V1.111C9.791,0.492,10.299,0,10.918,0c0.619,0,1.111,0.492,1.111,1.111v16.904L16.791,13.254z')
      section#how-it-works.section.section--case-studies(data-parent='about')
        .section__content.wrap
          .cols
            .col.col--full
              .margin-b.text-center
                h2.text-xlarge.text-strong.margin-b Who are our clients
              .card-deck.mb-3.text-center
                .card.mb-4.box-shadow
                  .card-header
                    .card-icon
                      img(src='/images/solutions1.svg')
                    .card-title
                      h4.my-0.font-weight-normal Business Owners
                  .card-body
                      ul.list-unstyled.text-left
                        li.listed-items
                          small  Uncover the best SEO and content strategies
                        li.listed-items
                          small  Build and grow your affiliate and media partnerships
                        li.listed-items
                            small  Benchmark your market and find ways to grow your share
                .card.mb-4.box-shadow
                  .card-header
                    .card-icon
                      img(src='/images/solutions2.svg')
                    .card-title
                      h4.my-0.font-weight-normal Advertisers
                  .card-body
                      ul.list-unstyled.text-left
                        li.listed-items
                          small  Enhance your display and paid search strategies
                        li.listed-items
                          small  Analyze trends, competitors' strategy and audience behavior
                        li.listed-items
                            small  Understand the shopper’s journey for smarter decisions
                .card.mb-4.box-shadow
                  .card-header
                    .card-icon
                      img(src='/images/solutions4.svg')
                    .card-title
                      h4.my-0.font-weight-normal Investors
                  .card-body
                      ul.list-unstyled.text-left
                        li.listed-items
                          small  Source, track and evaluate investment opportunities
                        li.listed-items
                          small  Map markets and spot emerging players and market trends
                        li.listed-items
                            small  Surface digital signals to inform buy, sell and hold positions
        .footer.text-center
          a.text-small.color-main-text(href='#vlog', onclick="scrollToPosition('vlog', true); return false;") Get to know the team
            br
            svg.footer__next.color-main-fill.floating(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 21.825 21.825', style='enable-background:new 0 0 21.825 21.825;', xml:space='preserve')
              path(d='M16.791,13.254c0.444-0.444,1.143-0.444,1.587,0c0.429,0.444,0.429,1.143,0,1.587l-6.65,6.651 c-0.206,0.206-0.492,0.333-0.809,0.333c-0.317,0-0.603-0.127-0.81-0.333l-6.65-6.651c-0.444-0.444-0.444-1.143,0-1.587 s1.143-0.444,1.587,0l4.746,4.762V1.111C9.791,0.492,10.299,0,10.918,0c0.619,0,1.111,0.492,1.111,1.111v16.904L16.791,13.254z')
      section#vlog.section.section--vlog
        .section__content.wrap-team
          .cols
            .col.col--full
              .col.col--two.margin-b-xlarge
               h2.text-xxlarge.text-title.text-strong.margin-b.text-center The team
              .margin-b
                #about-novice.col.col--about
                .about-title.margin-b
                  .about-icon.margin-r
                    img(src='/images/radhika.jpeg')
                  p.text-large
                    strong Radhika Srinivasan
                  #about-novice.col.col--about
                  .about-title.margin-b
                    .about-icon.margin-r
                      img(src='/images/rakhee.jpeg')
                    p.text-large
                      strong    Rakhee N Singh
                  #about-novice.col.col--about
                  .about-title.margin-b
                    .about-icon.margin-r
                      img(src='/images/ashish.jpeg')
                    p.text-large
                      strong Ashish Virani
                  #about-novice.col.col--about
                  .about-title.margin-b
                    .about-icon.margin-r
                      img(src='/images/anudeepa.jpeg')
                    p.text-large
                      strong Anudeepa Dinesh
        .footer.text-center
          a.color-main-text.text-small(href='#contacts', onclick="scrollToPosition('contacts', true); return false;")
            br
            svg.footer__next.color-main-fill.floating(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 21.825 21.825', style='enable-background:new 0 0 21.825 21.825;', xml:space='preserve')
              path(d='M16.791,13.254c0.444-0.444,1.143-0.444,1.587,0c0.429,0.444,0.429,1.143,0,1.587l-6.65,6.651 c-0.206,0.206-0.492,0.333-0.809,0.333c-0.317,0-0.603-0.127-0.81-0.333l-6.65-6.651c-0.444-0.444-0.444-1.143,0-1.587 s1.143-0.444,1.587,0l4.746,4.762V1.111C9.791,0.492,10.299,0,10.918,0c0.619,0,1.111,0.492,1.111,1.111v16.904L16.791,13.254z')
      section#contacts.section.section--contacts.color-main-bg
        .section__content.wrap
          .cols
            .col.col--full.text-center
              .margin-b.color-light-text
                h2.text-xxlarge.text-title.text-strong.margin-b Contacts
                p.text-medium.margin-b
                  | We are based in United States (USA)
                  br
                  |  Contact our team via E-mail:
                p.text-large
                  a.color-light-text.color-dark-text(href='mailto:hello@webmaze.com') hello@webmaze.com
              p.text-large.text-strong.margin-b.color-dark-text
              p.text-default.color-dark-text
              .text-upper.margin-t
                a.call-to-action.call-to-action--main.call-to-action--about.color-light-text.color-dark-bg.text-center.text-medium.tr.tr--bgcolor(href='/signup') signup now
        .footer.footer--last.color-main-dark-bg.color-light-text.text-center.text-small
