doctype html
html
  head
    link(rel='stylesheet' href='/lib/jquery/jquery-ui.min.css')
    script(src='/lib/jquery/jquery.js')
    script(src='/lib/jquery/jquery-ui.min.js')
    script(src='https://www.gstatic.com/charts/loader.js')

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(href='/styles/styles.css', rel='stylesheet')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')

    
  body
    header
        .container
            nav
                ul
                    li
                        a(class='nav navbar-nav', href='/#') 
                            i.fa.fa-home
                    li
                        a(class='nav navbar-nav', href='/allcategories') All Catgegories
                    li
                        a(class='nav navbar-nav', href='/dashboard') Dashboard New
                    li
                        a(class='nav navbar-nav', href='/dashboardOld') Dashboard Old
                    li
                        a(class='nav navbar-nav', href='/dashboardData') Dashboard Data
                    li
                        a(class='nav navbar-nav', href='/websites') Tabular view
                    li
                        a(class='nav navbar-nav', href='/logout') Logout

    block websites
    block allcategories
    block searchResults
    block dashboardOld
    block dashboard
    block index
