extends layout
block movies
    
    div(class="row")
        div(class="column")#trafficShare
        div(class="column")#bounceRate

    div(class="row")
        div(class="column")#uniqueUsers
        
    
    script(src='/scripts/movies.js')

