html
  head
    title WebMaze | Signup
    // meta
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, viewport-fit=cover')
    meta(name='format-detection', content='telephone=no')
    meta(name='theme-color', content='#ffffff')
    // fonts
    link(type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    // layouts
    link(type='text/css', href='/styles/reset.css', rel='stylesheet', media='all')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', rel='stylesheet')
    link(type='text/css', href='/styles/transitions.css', rel='stylesheet', media='all')
    link(type='text/css', href='/styles/layout.css', rel='stylesheet', media='all')
    link(type='text/css', href='/styles/text.css', rel='stylesheet', media='all')
    link(type='text/css', href='/styles/colors.css', rel='stylesheet', media='all')
    link(type='text/css', href='/styles/buttons.css', rel='stylesheet', media='all')
    link(type='text/css', href='/styles/menu.css', rel='stylesheet', media='all')
    link(type='text/css', href='/styles/menu-mobile.css', rel='stylesheet', media='all')
    link(type='text/css', href='/styles/login.css', rel='stylesheet', media='all')
    link(type='text/css', href='/styles/content.css', rel='stylesheet', media='all')
    link(type='text/css', href='/styles/signup.css', rel='stylesheet', media='all')
    link(type='text/css', href='/styles/floating_icons.css', rel='stylesheet', media='all')
    
    //scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
    script(src='/scripts/scroll-to-position.js', type='text/javascript')
    script(src='/scripts/set-active-section.js', type='text/javascript')
    script(src='/scripts/navigation.js', type='text/javascript')
    script(src='https://www.googletagmanager.com/gtag/js?id=UA-122332536-1', async='')
    script.
      window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-122332536-1');
  body
    header.header.color-main-dark-bg
      .header__content.wrap
        a.header__logo(href='#home', onclick='nav(this); return false;')
          img(src='/images/logow.png')
          //- h1(class="text-xxlarge text-title color-light-text text-strong text-upper margin-b") Web Maze
        #mobile-menu.mobile-menu
          span.color-light-text.text-upper.text-xsmall Menu
          //
          .mobile-menu__icon.color-main-dark-bg
            .burger
              span.color-light-bg
              span.color-light-bg
              span.color-light-bg
              span.color-light-bg
          .mobile-menu__button(onclick='toggleMobileMenu(); return false;')
        nav
          ul.header__nav.text-upper.text-small
            li
              a.nav-js.nav-js--home.color-light-text.active(href='/', onclick='nav(this); return false;') Home
            li
              a.nav-js.nav-js--about.color-light-text(href='/#about', onclick='nav(this); return false;') About
            li
              a.nav-js.nav-js--vlog.color-light-text(href='/#vlog', onclick='nav(this); return false;') Team
            li
              a.nav-js.nav-js--contacts.color-light-text(href='/#contacts', onclick='nav(this); return false;') Contacts
    .content
      section#home.section.section--home.color-main-bg
        .dumbbells
          .shape-container.shape-container--1.dumbbell.dumbbell--1
          .shape-container.shape-container--2.dumbbell.dumbbell--2
          .shape-container.shape-container--3.dumbbell.dumbbell--3
          .shape-container.shape-container--4.dumbbell.dumbbell--4
          .shape-container.shape-container--5.dumbbell.dumbbell--5
          .shape-container.shape-container--6.dumbbell.dumbbell--6
          .shape-container.shape-container--7.dumbbell.dumbbell--7
          .shape-container.shape-container--8.dumbbell.dumbbell--8
          .shape-container.shape-container--9.dumbbell.dumbbell--9
          .shape-container.shape-container--10.dumbbell.dumbbell--10
        .signup-form
            h2 Signup
            form()
                input(type='text', title='username', id='username', placeholder='username')
                input(type='password', title='username', id='password' placeholder='password')
                .result-list
                  #custom-select.custom-select Category Preferences 
                    //- i#down-arrow(class="arrow down")
                    #custom-select-option-box
                      .custom-select-option
                        div.categories-list
                          input.custom-select-option-checkbox(type='checkbox', value='carrentals') 
                          label.categories-label CarRentals
                        div.categories-list
                          input.custom-select-option-checkbox(type='checkbox', value='movies') 
                          label.categories-label Movies
                        div.categories-list
                          input.custom-select-option-checkbox(type='checkbox', value='education') 
                          label.categories-label Education
                <a href="/login">Already have account? Login here</a>
                button.color-main-dark-bg.btn.signup-button(type='submit' id="signupbutton") Submit
            // end log form
          //- button.color-main-dark-bg.btn.google-button(type='submit') Submit  
    script(src='/scripts/signup.js', type='text/javascript')
    script(src='/scripts/alertmodal.js', type='text/javascript')
    script(src='/scripts/bootstrap_popup.js', type='text/javascript')
