/* 
.hover-underline-menu {
  width: 100%;
}

.hover-underline-menu .menu {
  background-color: #2C3840;
}

.hover-underline-menu .menu a {
  color: #fefefe;
  padding: 1.2rem 1.5rem;
}

.hover-underline-menu .menu .underline-from-center {
  position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid #fefefe;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}
 */
#moviesDD:after {
  content: "";
  position: absolute;
  height: 20%;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
  width: 4px;
}

#moviesDD:hover:after {
  background-color: black;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}

#educationDD:after {
  content: "";
  position: absolute;
  height: 20%;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
  width: 4px;
}

#educationDD:hover:after {
  background-color: black;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}

#carrentalsDD:after {
  content: "";
  position: absolute;
  height: 20%;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
  width: 4px;
}

#carrentalsDD:hover:after {
  background-color: black;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}