@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Coming+Soon|Josefin+Slab|Montserrat+Alternates|Nanum+Brush+Script|Neucha|Open+Sans+Condensed:300|Philosopher|Poiret+One|Reenie+Beanie|Sarala|Sintony|Syncopate|Yrsa');
body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.container {
    width: 80%;
    height: 70px;
    margin: 0 auto;
}

.tableContent {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
}

p {
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 3%;
    font-family: 'Poiret One', cursive;
    font-size: 30px;
}

header {
    background: #55d6aa;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 30px;
    padding-top: 20px;
    height: 20px;
    position: relative;
}

.fa.fa-home {
    margin-bottom: 60px;
    font-size: 40px;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.indexBlock {
    background-color: #f7f7f7;
}

.row {
    display: flex;
}

.col {
    flex: 1;
    padding: 0em;
    border: groove;
}

.col1 {
    flex: 1;
    padding: 0em;
    border: groove;
    color: brown
}

h3 {
    color: brown;
    font-family: georgia;
    margin-left: 12px;
}

h2 {
    text-align: center;
    color: brown;
    font-family: georgia
}

.main {
    padding: 20px;
    border: 1px solid brown;
    margin-left: 30px;
    margin-right: 30px;
    background-color: blanchedalmond
}

.radiobox {
    border: 3px solid white;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2), 0 0 14px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.7);
    margin: 12px 12px !important;
}

.editButton {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 10px 14px;
    font-size: 15px;
    cursor: pointer;
}

.nav.navbar-nav {
    font-family: 'Reenie Beanie', cursive;
    font-size: 30px;
}

.addButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 14px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    cursor: pointer;
}

.deleteButton {
    background-color: red;
    border: none;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 15px;
    cursor: pointer;
}

#deleteText {
    font-family: 'Neucha', cursive;
    margin-left: 5px;
    font-size: 15px;
}

#addText {
    font-family: 'Neucha', cursive;
    margin-left: 5px;
    font-size: 25px;
}

#editText {
    font-family: 'Neucha', cursive;
    margin-left: 5px;
    font-size: 15px;
}

#columnHeading {
    font-family: 'Neucha', cursive;
    font-size: 30px;
}

#searchInDB {
    background-color: lightseagreen;
    border: none;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 15px;
    cursor: pointer;
}

#searchDiv {
    background: lightseagreen;
    height: 50px;
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 40px;
    padding-top: 5px;
    padding-left: 10px;
    width: 70%;
}

.search {
    background-color: lightseagreen;
    height: 40px;
    width: 50px;
    margin-left: 10px;
    margin-bottom: 15px;
    border: none;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#websiteName {
    border-radius: 40px;
    padding-left: 20px;
    font-size: 20px;
    height: 40px;
    border: 2px solid lightseagreen;
    float: top;
    width: 92%;
    background: #f1f1f1;
}

#insert {
    background-color: lightseagreen;
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    margin-bottom: 8px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-left: 10px;
}

.textbox {
    border: 3px solid white;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2), 0 0 14px rgba(0, 0, 0, 0.2);
    padding: 7px;
    background: rgba(255, 255, 255, 0.7);
    margin: 0 0 8px 0;
    width: 500px;
}

textarea {
    border: 3px solid white;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2), 0 0 14px rgba(0, 0, 0, 0.2);
    padding: 15px;
    background: rgba(255, 255, 255, 0.7);
    margin: 0 0 8px 0;
}

.button {
    background-color: rgb(236, 205, 205);
    border: none;
    color: brown;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid blue;
    padding: 10px;
    margin-top: 15%;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-left: 10px;
}

.topright {
    position: absolute;
    top: 25px;
    right: 26px;
    font-size: 16px;
    color: lightgray
}

* {
    box-sizing: border-box;
}

#searchInput {
    background-image: url('/images/crystal_search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 95%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-left: 12px;
}

#searchTable {
    border-collapse: collapse;
    width: 95%;
    border: 1px solid rgba(221, 221, 221, 0.932);
    font-size: 16px;
    margin-left: 12px;
}

#searchTable th, #searchTable td {
    text-align: left;
    padding: 12px;
}

#searchTable tr {
    border-bottom: 1px solid #ddd;
}

#searchTable tr.header, #searchTable tr:hover {
    background-color: linen;
}

button:disabled, button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

#strength {
    position: absolute;
    margin-left: 8px;
    margin-top: 8px;
}

#frontmainImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#passmatch {
    position: absolute;
    margin-left: 8px;
    margin-top: 8px;
}

.someIMage {
    vertical-align: top;
}

#hideImage {
    width: 100%;
    margin-top: 20px;
    display: none
}

.container {
    width: 150px;
    margin-left: 10px;
    float: left;
}

.text {
    text-align: center;
}

form {
    clear: both;
}

#makeMeDroppable {
    width: 500px;
    height: 500px;
    border: 10px solid rgb(117, 51, 51);
    float: left;
    margin-top: 25px;
    margin-bottom: 200px;
    margin-left: 150px;
}

ul {
    list-style-type: none;
    margin-left: 5px;
    padding-left: 15px;
}

img {
    border: 1px solid #000;
}

#slider label {
    position: absolute;
    width: 20px;
    margin-top: 20px;
    text-align: center;
}

.slider {
    margin-left: 120px;
}

.yearSliderLabel {
    float: left;
    width: 100px;
    margin-bottom: -10px;
}

.parentDiv {
    width: 90%;
    margin: 10px 25px 40px 10px;
}


/* 
.chartdiv {
    float: left;
    width: 40%;
    border: none;
}

.chartdiv1 {
    float: right;
    width: 40%;
    border: none;
}

.topcountries {
    float: left
}

.chartContainer {
    float: left;
}

.chartContainer #avgpageviews{
    float: left;
    width: 40%;
    border: none;
} */
/* 
.mainContainer {
    margin: 10px auto;
}

.mainContainer>div {
    width: 33%;
}

#avgpageviews {
    float: left;
}

#sociallyreferred {
    float: right;
}

#avgvisitors {
    margin: auto;
    position: relative;
}

.topContainer {
    margin:  10px auto;
}
.topContainer > div {
    width: 50%;
}
#topcountries {
    float: left;
}
#socialchart {
    float: right; 
}

.mainContainer {
    margin-top:  23%;
}
.mainContainer > div {
    width: 33%;
}
#avgpageviews {
    float: left;
}
#sociallyreferred {
    float: right; 
    
}
#avgvisitors {
    margin-left: 25%;
} */

#topcountries {
    margin-left: 60px;
}

#sociallyreferred {
    margin-left: 0px;
}

#avgvisitors {
    margin-left: -10%;
}

#avgpageviews {
    margin-left: 6%;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding-left: 45px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}