@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Coming+Soon|Josefin+Slab|Montserrat+Alternates|Nanum+Brush+Script|Neucha|Open+Sans+Condensed:300|Philosopher|Poiret+One|Reenie+Beanie|Sarala|Sintony|Syncopate|Yrsa');
#tablediv {
    padding-top: 10em;
    margin-left: 2%;
    margin-right: 2%;
}

#searchDiv {
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 50%;
    display: flex;
}

.tablecontent {
    cursor: pointer;
}
.modal-header{
    cursor:-webkit-grab;
}


#tooltip {
    position: relative;
    height: 17px;
    width: 18px;
}

tr .tooltiptext {
    visibility: hidden;
    width: 160px;
    margin-top:20px;
    background-color: #d3d3d3;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

tr:hover .tooltiptext {
    visibility: visible;
}

.search {
    height: 40px;
    width: 50px;
    margin-left: 10px;
    padding-bottom: 30px;
    border: none;
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#websiteName {
    font-size: 20px;
    height: 20px;
    width: 30%;
    border-bottom: solid 1px grey;
    border-bottom-width: 75%;
}

#insert {
    background-color: lightseagreen;
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    margin-bottom: 8px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-left: 10px;
}

.editButton {
    background-color: DodgerBlue;
    border: none;
    color: white;
    width: 85px;
    height: 43px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
}

.addButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 250px;
    padding: 7px 7px;
    font-size: 20px;
    cursor: pointer;
    float: right;
    margin-bottom: 2%;
}

.deleteButton {
    background-color: red;
    border: none;
    color: white;
    width: 85px;
    height: 43px;
    font-size: 15px;
    cursor: pointer;
}

#deleteText {
    font-family: 'Neucha', cursive;
    margin-left: 5px;
    font-size: 15px;
}

#editText {
    font-family: 'Neucha', cursive;
    margin-left: 5px;
    font-size: 15px;
}

#addText {
    font-family: 'Neucha', cursive;
    margin-left: 5px;
    font-size: 25px;
}