
<html>

<head><title>cmpe 226</title></head>

<body>

<h2>CMPE 226 Database Systems</h2>
<p>
    Database architectures, technologies, and practices for
    enterprise systems that use structured, semi-structured,
    and unstructured data. Provides opportunities to research
    and acquire experience using modern and emerging concepts
    in relational and non-relational database theory and technologies.
    Testing methods and data are discussed. 
</p>
<p>
    <strong>Prerequisite:</strong> CMPE 272 or instructor consent.
    Computer Engineering or Software Engineering majors only.
</p>
</body>

</html>