<html>

<head>
    <title>cmpe 180A</title>
</head>

<body>
    <h2>CMPE 180A Data Structures and Algorithms in C++</h2>
    <p>
        Data representation and preprocessing, proximity, finding nearest neighbors, dimensionality reduction, exploratory analysis, association Object-oriented data organization and representation as strings, arrays, stacks, queues, dequeues, lists, sets, trees,
        tables, and graphs. Sorting and searching and algorithm design and performance analysis. Testing methods and data are discussed.
    </p>
    <p><strong>Prerequisite:</strong> Admission into MS Computer Engineering or MS Software Engineering.
    </p>
</body>

</html>